<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>妖怪一覧表示</title>
</head>
<body>
  <h2>妖怪一覧表示</h2>
  <table>
    <tr><th>お気に入り</th><th>ID</th><th>名前</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr>
            <td><input type="checkbox" name="target" value="<%= row.id %>"></td>
            <td><%= row.id %></td>
            <td><a href="/youkai/<%= number %>"><%= row.name %></a></td>
            <% number += 1 %>
        </tr>
      <% } %>
  </table>
  <a href="/youkai/create">追加</a>
</body>
</html>